header {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 1000px;
    border-radius: 40px 40px 0px 0px;
}

#logo {
    display: flex;
    gap: 10px;
}

#logo > p {
    color: var(--cor2)
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 30px;
    background-color: var(--cor2);
    border-radius: 0px 0px 40px 40px;
}

nav > ul {
    display: flex;
    justify-content: center;
    gap: 25px;
    color: white;
    list-style: none;
}