* {
    margin: 0px;
    padding: 0px;
}

body, html {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: var(--cor1);
}